.b1{
    background-color:#2ECC71;
    height : 30px;
}
.b2{
    background-color:#2980B9;
    height : 30px;
}
.b3{
    background-color: #E74C3C;
    height : 90px;
}
.b4{
    background-color:#E67E22;
    height : 45px;
}
.b5{
    background-color:#95A5A6;
    height : 45px;
}
.b6{
    background-color:#F39C12;
    height : 45px;
}
.b7{
    background-color:#16A085;
    height : 45px;
}
.b8{
    background-color:#D35400;
    height : 45px
}
.b9{
    background:#2C3E50;
    height : 120px;
}

